@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

h1 {
    font-family: 'Homemade Apple', cursive;
    font-size: 2.5rem;
    text-align: center;
    color: #f77f00;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    text-align: center;
}

.socialmedia {
    text-align: center;
}

.btn {
    font-size: 2rem;
    text-decoration: none;
    word-spacing: 1rem;
    color: #ff9f1c;
}

.btn:hover {
    color: #f77f00;
}

footer {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
    color: #f77f00;
    text-align: center;
    margin-top: 25vh;
}

